.login{
    width:100%;
    height: 50vh;
    padding-top: 100px;
    display:flex;
    justify-content: center;
    align-items: center;

    
    .form{
        height:80%;
        padding: 20px;
        background-color: rgba(250, 234, 234, 0.048);

        border-style:solid;
        border-color: black;
        border-width: 2px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .errorMessage{
            color:red;
            font-size: 1.1em;
            font-weight: 700;
        }
        
        h1{
            font-size: 2em;
        }
    
        .userInfo{
            height:60%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;

            .terms{
                button{
                    margin-left: 20px;
                }
            }
        }
        
        input{
           margin-left: 5px; 
        }
    }    
}