.navigation {
	display: flex;
	justify-content: flex-end;
	padding: 0 100px;
	transition: 0.2s ease-in;
	margin-bottom: 40px;

	background: #141618;
	a {
		color: white;
		text-decoration: none;
		padding: 30px 20px;

		span {
			display: inline-block;
			position: relative;
			top: -8px;
			left: 0px;
			font-weight: bold;
			line-height: 18px;
			text-align: center;
			background: lightcoral;
			border-radius: 100%;
			width: 18px;
			height: 18px;

			@media (max-width: 491px){
				top: -70%;
				left: 100%;
			}
			@media (max-width: 471px){
				margin-left: 5px;
			}
		}
	}
}